@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://webfontworld.github.io/heiroflight/HeirofLight.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

$title: 'Black Ops One';
$main_text: 'Noto Sans KR';

$m_db: #561AD9;
$m_lb: #C394F2;
$m_dv: #8836BF;
$m_dp: #934EA6;
$m_ll: #F1C2F2;


@mixin text_gradient {
    background-image: linear-gradient(-225deg,
            $m_db 0%,
            $m_lb 25%,
            $m_dv 50%,
            $m_dp 75%,
            $m_ll 100%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient_line {
    background: {
        image: linear-gradient(#fff, #FFF), linear-gradient(-225deg,
                $m_db 0%,
                $m_lb 25%,
                $m_dv 50%,
                $m_dp 75%,
                $m_ll 100%);
        origin: border-box;
        clip: content-box, border-box;
    }
}

@mixin frame {
    background: {
        image: url('../img/bdtest2.png');
        size: 100% 100%;
        repeat: no-repeat;
        position: center;
    }
}

@mixin basic_setting {   
    width: 78.125%;       
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    :root {
        font-size: 9.5px;
    }
}

@media (min-width: 1200px) and (max-width: 1365px) {
    :root {
        font-size: 11.5px;
    }
}

@media (min-width: 1366px) and (max-width:1499px){
    :root {
        font-size: 13px;
    }
}

@media (min-width: 1500px) {
    :root {
        font-size: 1.67890871vh;
    }   
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    cursor: url('../img/cusor2.svg'), auto;
}

body {
    font-family: $main_text;

    /* ----- Overlay ----- */
    .overlay {
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
    }

    .grid {
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 10px;
        perspective: 55.6vh;
    }

    .grid-fade {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 11;
        background: radial-gradient(ellipse at 50% 50%, rgba(255, 255, 255, 0) 0%, #fff 95%);
    }

    .grid-lines {
        width: 100%;
        height: 200%;
        background-image: linear-gradient(to right, rgba(136, 54, 191, 0.3) 1px, transparent 0), linear-gradient(to bottom, rgba(136, 54, 191, 0.3) 1px, transparent 0);
        background-size: 90px 60px;
        background-repeat: repeat;
        transform-origin: 100% 0 0;
        animation: play 60s linear infinite;
    }


}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $title, $main_text;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 3.75rem;
    margin-bottom: 3.125rem;
}

h3 {
    font-size: 2.8125rem;
    margin-bottom: 1.875rem;
}

h4 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
}

b {
    font-size: 1.125rem;

    color: $m_db;
}

button {
    font-family: $title, $main_text;
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
        cursor: url('../img/cusor_pointer2.svg'), auto;
    }
}

.bn {
    width: 7.5rem;
    height: 3.75rem;
    background-color: transparent;
    box-shadow: (2px 2px 2px $m_dv), (-2px -2px 6px $m_dv inset);
    border-color: $m_dv;
    color: $m_db;

    &:hover,
    &:active {
        box-shadow: (-2px -2px 2px $m_dv), (2px 2px 6px $m_dv inset);

        @include text_gradient;
    }
}

.tc {
    @include text_gradient;
}

header {
    width: 100%;
    height: 2.8125rem;
    position: fixed;
    top: 0;
    z-index: 20;
    // background-color: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 78.125%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 128px;
        }
    }


}

.bottom {
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        width: 78.125%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            width: 3.125rem;

            &:hover {
                cursor: url('../img/cusor_pointer2.svg'), auto;

                img {
                    scale: 1.2;
                }
            }

            img {
                width: 100%;
            }
        }
    }
}


