@charset "utf-8";

@import "common";
@import "ani";

#app {
    text-align: center;
    font-size: 9.375rem;
    font-family: $title;
    filter: drop-shadow(5px 5px 5px rgba(136, 54, 192, 0.5));
    animation: textclip 3s linear infinite;

    @include text_gradient;
}

.swiper {

    width: 83%;
    height: 90%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    position: relative;
    border: 1px solid $m_dv;

    &:hover {
        cursor: url('../img/cusor_pointer2.svg'), auto;
    }

    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.section_worap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .sc {
        padding: 5rem 0 6.25rem 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        &1 {

            .m-title {
                @include basic_setting;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .spinner-box {
                    width: 18.75rem;
                    height: 18.75rem;
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                }

                .leo {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }

                .blue-orbit {
                    width: 15.48675rem;
                    height: 15.48675rem;
                    border: 1px solid $m_ll;
                    animation: spin3D 3s linear .2s infinite;
                }

                .green-orbit {
                    width: 11.25rem;
                    height: 11.25rem;
                    border: 1px solid $m_lb;
                    animation: spin3D 2s linear 0s infinite;
                }

                .red-orbit {
                    width: 8.4375rem;
                    height: 8.4375rem;
                    border: 1px solid $m_dp;
                    animation: spin3D 1s linear 0s infinite;
                }

                .white-orbit {
                    width: 5.625rem;
                    height: 5.625rem;
                    border: 2px solid $m_dv;
                    animation: spin3D 10s linear 0s infinite;
                }

                .w1 {
                    transform: rotate3D(1, 1, 1, 90deg);
                }

                .w2 {
                    transform: rotate3D(1, 2, .5, 90deg);
                }

                .w3 {
                    transform: rotate3D(.5, 1, 2, 90deg);
                }
            }

        }

        &2 {

            .profil {
                @include basic_setting;

                .profile-wrap {

                    display: flex;

                    h2 {
                        width: 100%;
                    }

                    .me {
                        width: 20%;
                        opacity: 0;

                        img {
                            width: 100%;
                        }
                    }

                    .pf-content {
                        width: 80%;
                        perspective: 2400px;

                        .card {

                            width: 100%;
                            height: 100%;
                            position: relative;
                            transition: .4s;
                            transform-style: preserve-3d;
                            opacity: 0;

                            .front,
                            .back {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                backface-visibility: hidden;

                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                background-color: #000;
                                color: #fff;

                                border: 1px solid #333;
                                border-radius: 10px;
                                box-shadow: 5px 5px 5px #777;

                                overflow: hidden;
                            }

                            .front {

                                &::after {
                                    content: '';
                                    width: 16rem;
                                    height: 5.25rem;

                                    background: {
                                        image: url('../img/sign.svg');
                                        position: center;
                                        repeat: no-repeat;
                                    }

                                    position: absolute;
                                    right: 2%;
                                    bottom: 2%;
                                }

                                p {
                                    font-size: 2.8125rem;
                                    font-weight: bold;
                                    margin-bottom: 1.875rem;
                                }

                                ul {
                                    font-size: 1.125rem;
                                }

                                span {
                                    display: inline-block;
                                    margin-top: 1.875rem;

                                    font-size: 1.125rem;
                                    color: $m_ll;
                                    font-weight: bold;
                                }
                            }

                            .back {
                                transform: rotateY(180deg);

                                .licence {
                                    width: 100%;
                                    padding: 0 5%;

                                    h3 {
                                        text-align: center;
                                    }

                                    .lic-wrap {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;

                                        .lic {
                                            padding: 0 2%;

                                            &:first-child,
                                            &:nth-of-type(2) {
                                                width: 37.5%;
                                            }

                                            .get {
                                                width: 100%;

                                                .lis {
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    padding: 1% 0;

                                                    h5 {
                                                        width: 30%;
                                                        margin-bottom: 0;
                                                    }
                                                }
                                            }

                                            .expextid {
                                                width: 100%;

                                                .lis {
                                                    width: 100%;
                                                    padding: 1% 0;
                                                }
                                            }

                                            &:last-child {
                                                width: 25%;
                                                border: 2px solid #fff;
                                                border-radius: 10px;
                                                display: flex;
                                                align-items: center;

                                                b {
                                                    color: #fff;
                                                }
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }

            }

        }

        &3 {

            .sl {
                @include basic_setting;

                .sl-wrap {
                    width: 100%;
                    // height: 80%;
                    display: flex;

                    .sk-list {
                        width: 40%;
                        height: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        perspective: 2400px;

                        &-wrap {
                            width: 90%;
                            height: 90%;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            background-color: #000;
                            border-radius: 15px;
                            box-shadow: 5px 5px 5px #777;

                            transform-style: preserve-3d;
                            transform: rotateY(30deg);

                            &:hover {
                                transform: rotateY(0deg);
                            }

                            .sks {
                                width: 100%;
                                padding: 15px 0;
                                border: none;
                                background-color: transparent;


                                &:not(:last-child) {
                                    margin-bottom: 1.875rem;
                                }

                                h3 {
                                    margin-bottom: 0;
                                    color: #fff;
                                    text-align: center;

                                    &:hover {
                                        cursor: url('../img/cusor_pointer2.svg'), auto;
                                    }
                                }


                            }
                        }


                    }

                    .skill {
                        width: 60%;
                        height: 100%;
                        position: relative;
                        opacity: 0;

                        @include frame;

                        .sk {
                            width: 85%;
                            height: 80%;
                            padding: 3%;
                            display: flex;
                            flex-direction: column;
                            position: absolute;

                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);


                            background-color: #fff;

                            &:not(:first-child) {
                                display: none;
                            }

                            h4 {
                                color: $m_dp;
                            }

                            .sic {
                                width: 100%;
                                margin-bottom: 15px;

                                img {
                                    width: 4.0625rem;
                                }
                            }

                            .vd {
                                margin-top: 15px;
                                display: flex;
                                align-items: flex-end;

                                video {
                                    width: 50.63291139%;
                                    min-width: 256px;
                                    border: 1px solid $m_dv;
                                }

                                .bn {
                                    width: 5.625rem;
                                    height: 2.8125rem;
                                    font-size: 1.125rem;
                                    margin-left: 30px;
                                }
                            }
                        }
                    }
                }
            }

            .bvd {
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;
                top: 5rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: #fff;

                display: flex;
                align-items: center;
                justify-content: center;



                .bvd-wrap {
                    height: 100%;
                    position: absolute;
                    // overflow: hidden;

                    &::after {
                        content: '';
                        width: 102%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 10;

                        background: {
                            image: url('../img/bdtest3.png');
                            size: 100% 100%;
                            repeat: no-repeat;
                            position: center;
                        }
                    }



                    video {
                        height: 100%;
                    }

                    .close {
                        // padding: 5px;
                        position: absolute;
                        top: 5px;
                        right: 25px;
                        z-index: 15;

                        .cd {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            border: 1px solid $m_dv;
                            background-color: #fff;
                            color: $m_dv;
                        }
                    }
                }
            }
        }

        &4 {
            .project {
                @include basic_setting;

                .pj {
                    width: 100%;

                    .pj-content-wrap {
                        width: 100%;
                        height: 100%;
                        opacity: 0;

                        .pj-content {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;

                            .pi {
                                width: 55%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .pc {
                                width: 40%;
                                height: 100%;
                                overflow: hidden;

                                border: 1px solid $m_dv;
                                background-color: #fff;
                                box-shadow: (3px -3px $m_ll), (6px -6px $m_dp), (9px -9px $m_dv), (12px -12px $m_lb), (15px -15px $m_db);
                                ;

                                .pj-wrap {
                                    width: 500%;
                                    height: 100%;
                                    display: flex;

                                    .epj {
                                        width: 20%;
                                        height: 100%;
                                        padding: 25px 1.5%;

                                        // border: 1px solid $m_dv;
                                        // background-color: #fff;

                                        .exp {
                                            width: 100%;
                                            height: 18.75rem;
                                            overflow: scroll;

                                            padding-right: 0.9375rem;

                                            &::-webkit-scrollbar {
                                                width: 0.625rem;
                                                height: 0.625rem;
                                            }

                                            &::-webkit-scrollbar-thumb {
                                                background-color: $m_dv;
                                                border-radius: 10px;
                                            }

                                            .language,
                                            .people,
                                            .color {
                                                margin-bottom: 30px;
                                            }

                                            .language {
                                                width: 100%;
                                                display: flex;
                                                align-items: center;

                                                .l {
                                                    border: 1px solid transparent;
                                                    border-radius: 15px;

                                                    @include gradient_line;



                                                    &:not(:last-child) {
                                                        margin-right: 0.9375rem;
                                                    }


                                                    p {
                                                        padding: 0.375rem 0.75rem;
                                                        font-weight: bold;

                                                        @include text_gradient;
                                                    }
                                                }
                                            }

                                            .color {
                                                width: 100%;

                                                .c-wrap {
                                                    width: 100%;
                                                    display: flex;

                                                    .c {
                                                        width: 6.25rem;
                                                        display: flex;
                                                        flex-direction: column;
                                                        align-items: center;

                                                        .c-box {
                                                            width: 3.125rem;
                                                            height: 3.125rem;
                                                            border-radius: 50%;
                                                            border: 1px solid #000;
                                                        }

                                                        span {
                                                            font-weight: bold;
                                                        }
                                                    }
                                                }

                                                p {
                                                    margin-top: 15px;
                                                }
                                            }
                                        }

                                        .page {
                                            margin-top: 30px;
                                            display: flex;
                                            justify-content: space-around;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        &5 {
            .cradit {
                @include basic_setting;

                display: flex;
                flex-direction: column;
                align-items: center;

                .ending-wrap {
                    width: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include frame;

                    .ending {

                        width: 85%;
                        height: 90%;
                        overflow: hidden;
                        position: relative;

                        .my-story {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;

                            .st {
                                width: 100%;

                                img {
                                    width: 25rem;
                                }

                                &:last-child {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    h1 {
                                        position: relative;
                                        padding: 0 15px;
                                        color: #fff;
                                        background-color: $m_dp;

                                        &::after {
                                            content: '';
                                            position: absolute;
                                            bottom: 0;
                                            left: 65%;
                                            width: 0;
                                            height: 0;
                                            border: 55px solid transparent;
                                            border-top-color: $m_dp;
                                            border-bottom: 0;
                                            border-left: 0;
                                            margin-left: -27.5px;
                                            margin-bottom: -55px;
                                        }
                                    }

                                    img {
                                        width: 12.5rem;
                                    }
                                }


                                &1,&2 {
                                    display: flex;
                                    align-items: center;
                                    span {
                                        font-size: 1.5rem;
                                    }
                                    img {
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
